<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Shoppa</title>
</head>
<body>
<div class="grid-container">
    <header class="row">  <!--the two divs within the header are the child of the header-->
        <div>
            <a class="brand" href="index.html">Shoppa</a>
        </div>
        <div>
            <a href="cart.html">Cart</a>
            <a href="signin.html">Sign in</a>
        </div>
    </header>
    <main>
        <div class="row center"> <!---This class means the items will in in a row & center aligned-->
<!---card 1--->
            <div class="card">
                <a href="product.html">
                    <!---image size: 680px by 830px-->
                    <img class="medium" src="./images/p1.jpg" alt="">
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Nike Slim shirts</h2>
                    </a>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="price">$120</div>
                </div>
            </div>
<!---card 2--->
            <div class="card">
                <a href="product.html">
                    <!---image size: 680px by 830px-->
                    <img class="medium" src="./images/p1.jpg" alt="">
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Nike Slim shirts</h2>
                    </a>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star-half-o"></i></span>
                        <span><i class="fa fa-star-o"></i></span> <!--the 'o' stands for outline,used when you want to reduce the number if starts-->
                    </div>
                    <div class="price">$120</div>
                </div>
            </div>
<!---card 3--->
            <div class="card">
                <a href="product.html">
                    <!---image size: 680px by 830px-->
                    <img class="medium" src="./images/p1.jpg" alt="">
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Nike Slim shirts</h2>
                    </a>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="price">$120</div>
                </div>
            </div>
<!---card 4--->
            <div class="card">
                <a href="product.html">
                    <!---image size: 680px by 830px-->
                    <img class="medium" src="./images/p1.jpg" alt="">
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Nike Slim shirts</h2>
                    </a>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="price">$120</div>
                </div>
            </div>
<!---card 5--->
            <div class="card">
                <a href="product.html">
                    <!---image size: 680px by 830px-->
                    <img class="medium" src="./images/p1.jpg" alt="">
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Nike Slim shirts</h2>
                    </a>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="price">$120</div>
                </div>
            </div>
<!---card 6--->
            <div class="card">
                <a href="product.html">
                    <!---image size: 680px by 830px-->
                    <img class="medium" src="./images/p1.jpg" alt="">
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Nike Slim shirts</h2>
                    </a>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="price">$120</div>
                </div>
            </div>
        </div>
    </main>
    <footer class="row center">All rights reserved</footer>
</div>
</body>
</html>

<!-------Notes--------
    1. Div - A html element used to create different sections in the document
    2. The HTML has 3 sections i.e. the header, main and footer sections
    3. Use flexbox to create product lists and to place them next to each other
    4. Use font awesome to create the ratings stars
    5. Use card elements to create borders around items
Create react app:
1. In a new terminal type npx create-react-app frontend
2. React packages will start installing, takes a few minutes
3. Once installed, type cd frontend, then npm start
4. Remove unused files
5. Copy index.html content to App.js
6. copy style.css content to index.css
7. Replace class with class name
8. Important to note: In react, all elements have to have enclosing tags to 
avoid parent & child elements showing errors.
9. To replace the className error, go to App.JS and copy the class word,
select ctrl + F, type ClassName then select replace all.
10. We have now converted the static HTML file to a React App.

Note: All our code is static data and is hard-coded. Use JS to load the data.






